include requirements.txt
include requirements-test.txt
include requirements-dev.txt
include AUTHORS.rst
include README.rst

recursive-include tests *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include docs *.rst conf.py Makefile make.bat *.jpg *.png *.gif
