[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

allensdk = "*"
argschema = "*"
matplotlib = "*"
pillow = "*"
sklearn = "*"
dev = "*"


[dev-packages]

bumpversion = "*"
cookiecutter = "*"
coverage = "*"
mock = "*"
nose = "*"
numpydoc = "*"
pytest = "*"
"ruamel.yaml" = "*"
sphinx = "<1.7"
sphinx-gallery = "*"
tox = "*"
