[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]

allensdk = "*"
argschema = "*"
matplotlib = "*"
pillow = "*"
sklearn = "*"

[dev-packages]

bumpversion = "*"
cookiecutter = "*"
coverage = "*"
mock = "*"
nose = "*"
pytest = "*"
"ruamel.yaml" = "*"
sphinx = "*"
sphinx-gallery = "*"
tox = "*"
