[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]

allensdk = { git = https://github.com/AllenInstitute/AllenSDK.git#egg=AllenSDK }
matplotlib = "*"
pillow = "*"
argschema = "*"

[dev-packages]

bumpversion = "*"
tox = "*"
coverage = "*"
sphinx = "*"
cookiecutter = "*"
sphinx-gallery = "*"
pytest = "*"
"ruamel.yaml" = "*"
